In [33]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras

In [4]:
book = pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\books.csv")

In [5]:
book

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [6]:
ratings=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\ratings.csv")

In [7]:
ratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [8]:
merged_df = pd.merge(book, ratings, on='book_id')
merged_df

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,user_id,rating
0,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,314,3
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,588,1
2,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,2077,2
3,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,2487,3
4,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...,2900,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79696,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,46715,4
79697,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,47073,4
79698,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,49663,3
79699,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,50305,3
79700,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...,52244,4

In [9]:
book_tags=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\book_tags.csv")

In [10]:
tags=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\tags.csv")

In [11]:
book_tags = book_tags.merge(tags, left_on='tag_id', right_on='tag_id')

# Merge the book_tags with ratings to associate ratings with genres
book_ratings = pd.merge(book_tags, ratings, left_on='goodreads_book_id', right_on='book_id')

In [12]:
book_tags

        goodreads_book_id  tag_id   count     tag_name
0                       1   30574  167697      to-read
1                       2   30574   24549      to-read
2                       3   30574  496107      to-read
3                       5   30574   11909      to-read
4                       6   30574     298      to-read
...                   ...     ...     ...          ...
999907           31538635   14690       6     hogwarts
999908           32848471   16149      21     jan-2017
999909           33288638   27821       9   single-mom
999910           33288638   11478       7  fave-author
999911           33288638   27939       7     slowburn

[999912 rows x 4 columns]

In [13]:
book_ratings

         goodreads_book_id  tag_id   count tag_name  book_id  user_id  rating
0                        1   30574  167697  to-read        1      314       5
1                        1   30574  167697  to-read        1      439       3
2                        1   30574  167697  to-read        1      588       5
3                        1   30574  167697  to-read        1     1169       4
4                        1   30574  167697  to-read        1     1185       4
...                    ...     ...     ...      ...      ...      ...     ...
7970095               9998   34240       4     Êó•Êú¨ÊñáÂ≠¶     9998    51295       5
7970096               9998   34240       4     Êó•Êú¨ÊñáÂ≠¶     9998    51559       5
7970097               9998   34240       4     Êó•Êú¨ÊñáÂ≠¶     9998    52087       4
7970098               9998   34240       4     Êó•Êú¨ÊñáÂ≠¶     9998    52330       4
7970099               9998   34240       4     Êó•Êú¨ÊñáÂ≠¶     9998    53249       5

[7970100 rows x 7 columns]

In [14]:
# Group by genre (tag_name) and calculate the average rating for each genre
genre_ratings = book_ratings.groupby('tag_name').agg(
    average_rating=('rating', 'mean'),  # Calculate the average rating per genre
    count=('rating', 'count')  # Count the number of ratings per genre
).reset_index()
genre_ratings

           tag_name  average_rating  count
0                 -        4.100000    100
1             --12-        4.122449     98
2             --33-        3.830000    100
3             --62-        4.122449     98
4            -d-c--        3.970000    100
...             ...             ...    ...
6729  ⁄©ŸàÿØ⁄©-Ÿà-ŸÜŸàÿ¨ŸàÿßŸÜ        3.686869     99
6730           Êó•Êú¨ÊñáÂ≠¶        4.326316     95
6731            Êó•Êú¨Ë™û        4.326316     95
6732      Ôº£hildrens        3.660000    100
6733      Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì        3.577889    199

[6734 rows x 3 columns]

In [15]:
top_200_genres = genre_ratings.sort_values('count', ascending=False).head(200)

# Display the top 200 genres with their average rating
print(top_200_genres)

               tag_name  average_rating  count
6146            to-read        3.861645  79701
2320          favorites        3.863280  78606
4562              owned        3.863329  78217
1006        books-i-own        3.863862  78119
1772  currently-reading        3.863014  78008
...                 ...             ...    ...
3916   memoir-biography        3.886381   8062
950     book-club-books        3.821175   8019
3723               love        3.872250   8000
6270             travel        3.880606   7982
2332     female-authors        3.835141   7928

[200 rows x 3 columns]

In [16]:
# 1. Find the top 200 genres by count
top_200_genres = book_ratings['tag_name'].value_counts().nlargest(200).index

# 2. Filter the book_ratings DataFrame to only include those top 200 genres
filtered_ratings = book_ratings[book_ratings['tag_name'].isin(top_200_genres)]

# 3. Calculate the overall average rating per user
user_avg_rating = filtered_ratings.groupby('user_id').agg(
    total_avg_rating=('rating', 'mean')  # User's total average rating
).reset_index()

# 4. Calculate the average rating per user for each genre
user_genre_avg = filtered_ratings.groupby(['user_id', 'tag_name']).agg(
    genre_avg_rating=('rating', 'mean')  # User's average rating for each genre
).reset_index()

# 5. Pivot the table to have a column for each genre's average rating
user_genre_pivot = user_genre_avg.pivot(
    index='user_id',  # Rows represent each user
    columns='tag_name',  # Each genre becomes a separate column
    values='genre_avg_rating'  # Values are the genre average ratings
).reset_index()

# 6. Merge the overall average rating with the genre-wise ratings
user_ratings = pd.merge(user_avg_rating, user_genre_pivot, on='user_id')

# Final result: user_ratings DataFrame with total average rating and genre-wise average ratings
print(user_ratings.head())  # Show the first few rows
user_ratings

   user_id  total_avg_rating  1001  1001-books  1001-books-to-read  \
0        2          4.000000   NaN         NaN                 NaN
1        3          1.000000   NaN         NaN                 NaN
2        4          2.000000   NaN         NaN                 NaN
3        7          3.915751   5.0         5.0                 5.0
4        9          4.000000   NaN         NaN                 NaN

   1001-books-to-read-before-you-die  1001-books-you-must-read-before-you  \
0                                NaN                                  NaN
1                                NaN                                  NaN
2                                NaN                                  NaN
3                                5.0                                  5.0
4                                NaN                                  NaN

   1001-import  2006  20th-century  ...  travel  unfinished  unread  usa  war  \
0          NaN   NaN           NaN  ...     NaN         4.0     NaN  NaN  NaN
1          NaN   NaN           NaN  ...     NaN         NaN     NaN  NaN  NaN
2          NaN   NaN           NaN  ...     2.0         2.0     NaN  2.0  NaN
3          5.0   3.0           4.0  ...     NaN         4.0     NaN  3.0  NaN
4          NaN   NaN           NaN  ...     NaN         NaN     NaN  NaN  NaN

   wish-list  women   ya  young-adult  youth
0        4.0    NaN  NaN          NaN    NaN
1        1.0    NaN  1.0          1.0    NaN
2        2.0    NaN  2.0          2.0    NaN
3        4.0    5.0  3.0          3.0    NaN
4        4.0    NaN  NaN          NaN    NaN

[5 rows x 202 columns]

,user_id,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,2,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,3,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
2,4,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,2.0,NaN
3,7,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,...,NaN,4.0,NaN,3.0,NaN,4.0,5.0,3.0,3.0,NaN
4,9,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,4.0,4.0
28902,53420,3.480000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,3.5,3.5,3.0,NaN,3.5,NaN,NaN,NaN,NaN
28903,53422,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28904,53423,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
28905,53424,5.000000,5.0,5.0,NaN,5.0,5.0,NaN,NaN,NaN,...,5.0,5.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,NaN

In [17]:
user_r_df= pd.DataFrame(user_ratings)
user_r_df.fillna(0)

,user_id,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,2,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
1,3,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,4,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0
3,7,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,...,0.0,4.0,0.0,3.0,0.0,4.0,5.0,3.0,3.0,0.0
4,9,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0
28902,53420,3.480000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,3.5,3.5,3.0,0.0,3.5,0.0,0.0,0.0,0.0
28903,53422,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28904,53423,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28905,53424,5.000000,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,...,5.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,0.0

In [18]:
grouped_df = book_tags.groupby('goodreads_book_id')['tag_id'].apply(list).reset_index()

In [19]:
def get_tag_names(tag_ids, tags_df):
    tag_names = tags_df.set_index('tag_id').loc[tag_ids, 'tag_name'].tolist()
    return tag_names

# Apply the function to get tag names for each book
grouped_df['tag_names'] = grouped_df['tag_id'].apply(get_tag_names, tags_df=tags)

In [20]:
grouped_df

,goodreads_book_id,tag_id,tag_names
0,1,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
1,2,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
2,3,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
3,5,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
4,6,"[30574, 11305, 33114, 11743, 14017, 22743, 329...","[to-read, fantasy, young-adult, fiction, harry..."
...,...,...,...
9995,31538647,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
9996,31845516,"[30574, 11557, 8717, 11743, 5207, 22743, 2104,...","[to-read, favorites, currently-reading, fictio..."
9997,32075671,"[30574, 11557, 8717, 33114, 11743, 5207, 22743...","[to-read, favorites, currently-reading, young-..."
9998,32848471,"[30574, 11557, 8717, 11743, 5207, 22743, 2104,...","[to-read, favorites, currently-reading, fictio..."
9999,33288638,"[30574, 11557, 8717, 11743, 5207, 11590, 6857,...","[to-read, favorites, currently-reading, fictio..."

In [21]:
user_rating_tags = user_ratings.columns[1:]  # Skip the 'goodreads_book_id' column

# Step 2: Create a new column in the tags DataFrame to filter tag_names
grouped_df['filtered_tag_names'] = grouped_df['tag_names'].apply(lambda x: [tag for tag in x if tag in user_rating_tags])

# Step 3: Check the result
print(grouped_df[['goodreads_book_id', 'filtered_tag_names']])

      goodreads_book_id                                 filtered_tag_names
0                     1  [to-read, fantasy, favorites, currently-readin...
1                     2  [to-read, fantasy, favorites, currently-readin...
2                     3  [to-read, fantasy, favorites, currently-readin...
3                     5  [to-read, fantasy, favorites, currently-readin...
4                     6  [to-read, fantasy, young-adult, fiction, owned...
...                 ...                                                ...
9995           31538647  [to-read, fantasy, favorites, currently-readin...
9996           31845516  [to-read, favorites, currently-reading, fictio...
9997           32075671  [to-read, favorites, currently-reading, young-...
9998           32848471  [to-read, favorites, currently-reading, fictio...
9999           33288638  [to-read, favorites, currently-reading, fictio...

[10000 rows x 2 columns]

In [22]:
exploded_df = grouped_df.explode('filtered_tag_names')

# Step 2: Create one-hot encoding for each unique tag using sparse=True
one_hot_df = pd.get_dummies(exploded_df['filtered_tag_names'], sparse=True)

# Step 3: Combine the one-hot encoded DataFrame with the original exploded DataFrame
combined_df = pd.concat([exploded_df['goodreads_book_id'], one_hot_df], axis=1)

# Step 4: Group by goodreads_book_id and sum the one-hot encoded values
final_one_hot = combined_df.groupby('goodreads_book_id').sum(min_count=1).reset_index()

# Step 5: Convert to a sparse DataFrame to save memory
final_one_hot_sparse = final_one_hot.astype('Sparse[float]')
final_one_hot_sparse.fillna(0, inplace=True)

# Step 6: Check the result
print(final_one_hot_sparse)

KeyboardInterrupt:

In [55]:
final_one_hot_sparse

,goodreads_book_id,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,21st-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
4,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,31538647.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9996,31845516.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
9997,32075671.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
9998,32848471.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9999,33288638.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
final_one_hot_sparse.to_excel("trynew_item.xlsx", index=False)

In [57]:
user_r_df.to_excel("trynew_user.xlsx", index=False)

Neural Networks

In [3]:
user= pd.read_excel(r"C:\Users\RHEA TIWARI\Desktop\Sem 5\ML\user_df.xlsx")
item= pd.read_excel(r"C:\Users\RHEA TIWARI\Desktop\Sem 5\ML\item_df.xlsx")

In [159]:
item_df=pd.read_excel(r"C:\Users\RHEA TIWARI\Desktop\Sem 5\ML\trynew_item.xlsx")
user_df=pd.read_excel(r"C:\Users\RHEA TIWARI\Desktop\Sem 5\ML\trynew_user.xlsx")

In [160]:
item_df

,goodreads_book_id,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,21st-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,31538647,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
9996,31845516,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
9997,32075671,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,1,0
9998,32848471,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9999,33288638,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
user_df

,user_id,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,2,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
1,3,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN
2,4,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,2.0,NaN
3,7,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,...,NaN,4.0,NaN,3.0,NaN,4.0,5.0,3.0,3.0,NaN
4,9,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,4.0,4.0
28902,53420,3.480000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,3.5,3.5,3.0,NaN,3.5,NaN,NaN,NaN,NaN
28903,53422,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28904,53423,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,5.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
28905,53424,5.000000,5.0,5.0,NaN,5.0,5.0,NaN,NaN,NaN,...,5.0,5.0,NaN,NaN,NaN,5.0,NaN,5.0,5.0,NaN

In [26]:
user_df=user_df.fillna(0)

In [27]:
user_df

,user_id,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,2,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
1,3,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,4,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0
3,7,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,...,0.0,4.0,0.0,3.0,0.0,4.0,5.0,3.0,3.0,0.0
4,9,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0
28902,53420,3.480000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,3.5,3.5,3.0,0.0,3.5,0.0,0.0,0.0,0.0
28903,53422,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28904,53423,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28905,53424,5.000000,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,...,5.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,0.0

In [109]:
num_user = user_df.shape[1]-2
num_item = item_df.shape[1]
print(num_user,num_item)

200 198

In [110]:
user_df

,user_id,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,2,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
1,3,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,4,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0
3,7,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,...,0.0,4.0,0.0,3.0,0.0,4.0,5.0,3.0,3.0,0.0
4,9,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0
28902,53420,3.480000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,3.5,3.5,3.0,0.0,3.5,0.0,0.0,0.0,0.0
28903,53422,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28904,53423,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28905,53424,5.000000,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,...,5.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,0.0

In [111]:
y=user_df['total_avg_rating']
y=pd.DataFrame(y)

NEURAL NETWORKS

In [112]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

In [113]:
stdsc=StandardScaler()
user_sc = stdsc.fit_transform(user_df)
item_sc= stdsc.fit_transform(item_df)

In [114]:
item_train, item_test = train_test_split(item_sc, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_sc, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(y,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test  data shape: {item_test.shape}")

movie/item training data shape: (8000, 198)
movie/item test  data shape: (2000, 198)

In [115]:
y_train_np = y_train.values if hasattr(y_train, 'values') else y_train
scaler = MinMaxScaler((-1, 1))

# Fit and transform the reshaped array
scaler.fit(y_train_np.reshape(-1, 1))
ynorm_train = scaler.transform(y_train_np.reshape(-1, 1))
ynorm_test = scaler.transform(y_test.values.reshape(-1, 1) if hasattr(y_test, 'values') else y_test.reshape(-1, 1))

print(ynorm_train.shape, ynorm_test.shape)

(23124, 1) (5782, 1)

In [116]:
user_NN = tf.keras.models.Sequential([tf.keras.layers.Dense(256,activation='relu'),
                                     tf.keras.layers.Dense(128,activation='relu'),
                                     tf.keras.layers.Dense(32)])
item_NN = tf.keras.models.Sequential([tf.keras.layers.Dense(256,activation='relu'),
                                     tf.keras.layers.Dense(128,activation='relu'),
                                     tf.keras.layers.Dense(32)])
input_user= tf.keras.layers.Input(shape=(num_user))
vu= user_NN(input_user)
vu= tf.linalg.l2_normalize(vu,axis=1)

input_item= tf.keras.layers.Input(shape=(num_item))
vm= item_NN(input_item)
vm= tf.linalg.l2_normalize(vm,axis=1)
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# Define the model with user and item inputs, and similarity output
model = tf.keras.Model([input_user, input_item], output)

# Compile the model with Mean Squared Error as the loss function
model.compile(optimizer='adam', loss=tf.keras.losses.MeanSquaredError())
cost_fn=tf.keras.losses.MeanSquaredError()
# Model summary
model.summary()

Model: "model_14"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_29 (InputLayer)       [(None, 200)]                0         []

 input_30 (InputLayer)       [(None, 198)]                0         []

 sequential_28 (Sequential)  (None, 32)                   88480     ['input_29[0][0]']

 sequential_29 (Sequential)  (None, 32)                   87968     ['input_30[0][0]']

 tf.math.l2_normalize_28 (T  (None, 32)                   0         ['sequential_28[0][0]']
 FOpLambda)

 tf.math.l2_normalize_29 (T  (None, 32)                   0         ['sequential_29[0][0]']
 FOpLambda)

 dot_14 (Dot)                (None, 1)                    0         ['tf.math.l2_normalize_28[0][0
                                                                    ]',
                                                                     'tf.math.l2_normalize_29[0][0
                                                                    ]']

==================================================================================================
Total params: 176448 (689.25 KB)
Trainable params: 176448 (689.25 KB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [117]:
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [118]:
tf.random.set_seed(1)
model.fit([user_train[:, 2:], item_train[:, :]], ynorm_train, epochs=30)

ValueError: Data cardinality is ambiguous:
  x sizes: 23124, 8000
  y sizes: 23124
Make sure all arrays contain the same number of samples.

In [119]:
item_df

,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,21st-century,5-stars,abandoned,action,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,1
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
9996,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,0
9997,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9999,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [120]:
user_df2= user_df.iloc[:, 1:]
user_df2

,total_avg_rating,1001,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,21st-century,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
1,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0
3,3.915751,5.0,5.0,5.0,5.0,5.0,5.0,3.0,4.0,4.0,...,0.0,4.0,0.0,3.0,0.0,4.0,5.0,3.0,3.0,0.0
4,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0
28902,3.480000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,3.5,3.5,3.0,0.0,3.5,0.0,0.0,0.0,0.0
28903,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28904,5.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,5.0,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
28905,5.000000,5.0,5.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,...,5.0,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,0.0

In [125]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

# Scaling and splitting the data
stdsc = StandardScaler()
user_sc = stdsc.fit_transform(user_df)  # Exclude index column for user data
item_sc = stdsc.fit_transform(item_df)   # Exclude index column for item data

# Splitting user, item, and ratings data for train/test
user_train, user_test = train_test_split(user_sc, train_size=0.80, shuffle=True, random_state=1)
item_train, item_test = train_test_split(item_sc, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test = train_test_split(y, train_size=0.80, shuffle=True, random_state=1)

# Normalizing ratings
# Ensure y_train and y_test are in array form and reshape them for MinMaxScaler
y_train_np = y_train.values.reshape(-1, 1)
y_test_np = y_test.values.reshape(-1, 1)

# Fit and transform the reshaped array
scaler = MinMaxScaler((-1, 1))
ynorm_train = scaler.fit_transform(y_train_np)
ynorm_test = scaler.transform(y_test_np)

# Building neural network components for user and item
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(32)
])

item_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(32)
])

# Define inputs and pass them through user and item networks
input_user = tf.keras.layers.Input(shape=(user_train.shape[1]-2,))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

input_item = tf.keras.layers.Input(shape=(item_train.shape[1],))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

# Dot product for similarity score
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# Define and compile the model
model = tf.keras.Model(inputs=[input_user, input_item], outputs=output)
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
              loss=tf.keras.losses.MeanSquaredError())

# Align training data sizes using an index-based approach
user_indices = user_train[:len(item_train), 2:]
item_indices = item_train[:len(y_train)]
ynorm_ind= ynorm_train[:len(item_indices)]
# Train model
model.fit([user_indices, item_indices], ynorm_ind, epochs=30)

Epoch 1/30
250/250 [==============================] - 3s 5ms/step - loss: 0.0167
Epoch 2/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0038
Epoch 3/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0024
Epoch 4/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0020
Epoch 5/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0014
Epoch 6/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0018
Epoch 7/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0014
Epoch 8/30
250/250 [==============================] - 2s 7ms/step - loss: 7.4959e-04
Epoch 9/30
250/250 [==============================] - 2s 8ms/step - loss: 8.6065e-04
Epoch 10/30
250/250 [==============================] - 2s 8ms/step - loss: 0.0012
Epoch 11/30
250/250 [==============================] - 2s 6ms/step - loss: 7.2782e-04
Epoch 12/30
250/250 [==============================] - 2s 6ms/step - loss: 7.4982e-04
Epoch 13/30
250/250 [==============================] - 1s 6ms/step - loss: 8.2976e-04
Epoch 14/30
250/250 [==============================] - 2s 6ms/step - loss: 5.9632e-04
Epoch 15/30
250/250 [==============================] - 2s 7ms/step - loss: 8.4949e-04
Epoch 16/30
250/250 [==============================] - 2s 7ms/step - loss: 9.9732e-04
Epoch 17/30
250/250 [==============================] - 2s 7ms/step - loss: 0.0013
Epoch 18/30
250/250 [==============================] - 2s 6ms/step - loss: 4.8798e-04
Epoch 19/30
250/250 [==============================] - 2s 6ms/step - loss: 3.5792e-04
Epoch 20/30
250/250 [==============================] - 2s 6ms/step - loss: 3.0134e-04
Epoch 21/30
250/250 [==============================] - 2s 6ms/step - loss: 6.4537e-04
Epoch 22/30
250/250 [==============================] - 2s 6ms/step - loss: 4.5067e-04
Epoch 23/30
250/250 [==============================] - 2s 6ms/step - loss: 5.0805e-04
Epoch 24/30
250/250 [==============================] - 2s 6ms/step - loss: 4.0508e-04
Epoch 25/30
250/250 [==============================] - 2s 7ms/step - loss: 3.9873e-04
Epoch 26/30
250/250 [==============================] - 2s 7ms/step - loss: 4.1490e-04
Epoch 27/30
250/250 [==============================] - 2s 7ms/step - loss: 5.8740e-04
Epoch 28/30
250/250 [==============================] - 2s 7ms/step - loss: 4.4493e-04
Epoch 29/30
250/250 [==============================] - 2s 6ms/step - loss: 3.6326e-04
Epoch 30/30
250/250 [==============================] - 2s 6ms/step - loss: 4.0747e-04

In [79]:
print("Shape of user_indices:", user_indices.shape)
print("Shape of item_indices:", item_indices.shape)
print("Shape of ynorm_train:", ynorm_train.shape)

Shape of user_indices: (23123, 201)
Shape of item_indices: (8000, 199)
Shape of ynorm_train: (23124, 1)

In [80]:
item_df

,1001-books,1001-books-to-read,1001-books-to-read-before-you-die,1001-books-you-must-read-before-you,1001-import,2006,20th-century,21st-century,5-stars,abandoned,...,travel,unfinished,unread,usa,war,wish-list,women,ya,young-adult,youth
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,0
9996,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
9997,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9999,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
model.evaluate([user_test[:len(item_test), 2:], item_test[:, :]], ynorm_test[:len(item_test)])

63/63 [==============================] - 0s 4ms/step - loss: 0.0016

0.0015776116633787751

In [91]:
item_test.shape

(2000, 199)

In [92]:
user_test.shape

(5782, 201)

In [130]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Get predictions from the model
predicted_ratings = model.predict([user_test[:len(item_test), 2:], item_test])

# If the predicted ratings are normalized, you might need to inverse transform them
# predicted_ratings = scaler.inverse_transform(predicted_ratings)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test[:len(predicted_ratings)], predicted_ratings))

# Calculate MAE
mae = mean_absolute_error(y_test[:len(predicted_ratings)], predicted_ratings)

print(f'RMSE: {rmse}')
print(f'MAE: {mae}')

63/63 [==============================] - 0s 3ms/step
RMSE: 3.476706844028067
MAE: 3.4512036376415236

In [135]:
# Example: If user_ids are encoded and start from 0
unique_user_ids = np.unique(user_ids)
predicted_ratings = model.predict([user_test[:len(item_test), 2:], item_test])  # Make sure this matches your test set

# Check lengths
print(f'User IDs: {len(unique_user_ids)}, Predicted Ratings: {len(predicted_ratings)}')

# This assumes user_ids is in the same range as the predicted_ratings indices

63/63 [==============================] - 0s 4ms/step
User IDs: 5782, Predicted Ratings: 2000

In [146]:
import numpy as np
from scipy.sparse import random as sparse_random

# Parameters for item_vec
num_items = 100  # Number of items (rows)
num_columns = 198  # Number of features (columns)
density = 0.1  # Density of the sparse matrix (10% non-zero elements)

# Generate a random sparse item matrix
item_matrix = sparse_random(num_items, num_columns, density=density, format='csr', dtype=np.float32)

# Create a sample user vector
new_user_id = 5000
new_rating_count = 3
new_rating_ave = 4.0  # Sample average rating

# Assuming item_vecs are rows of the item_matrix
item_vecs = item_matrix.toarray()  # Convert to dense format if needed

In [154]:
import numpy as np
from scipy.sparse import random as sparse_random

# Parameters for item_vec
num_items = 1  # Number of items (rows)
num_columns = 198  # Number of features (columns)
density = 0.1  # Density of the sparse matrix (10% non-zero elements)

# Generate a random sparse item matrix
item_matrix = sparse_random(num_items, num_columns, density=density, format='csr', dtype=np.float32)

# Create a sample user vector with 200 columns
new_user_id = 5000
new_rating_count = 3
new_rating_ave = 4.0  # Sample average rating

# User feature values
new_action = 1.0
new_adventure = 1
new_animation = 1
new_childrens = 1
new_comedy = 5
new_crime = 1
new_documentary = 1
new_drama = 1
new_fantasy = 1
new_horror = 1
new_mystery = 1
new_romance = 5
new_scifi = 5
new_thriller = 1

# Create a user vector with 200 columns
user_vec = np.zeros((1, 200))  # Initialize with zeros
user_vec[0, 0] = new_user_id  # User ID at first column
user_vec[0, 1] = new_rating_count  # Rating count at second column
user_vec[0, 2] = new_rating_ave  # Average rating at third column
user_vec[0, 3] = new_action
user_vec[0, 4] = new_adventure
user_vec[0, 5] = new_animation
user_vec[0, 6] = new_childrens
user_vec[0, 7] = new_comedy
user_vec[0, 8] = new_crime
user_vec[0, 9] = new_documentary
user_vec[0, 10] = new_drama
user_vec[0, 11] = new_fantasy
user_vec[0, 12] = new_horror
user_vec[0, 13] = new_mystery
user_vec[0, 14] = new_romance
user_vec[0, 15] = new_scifi
user_vec[0, 16] = new_thriller

# Assuming item_vecs are rows of the item_matrix
item_vecs = item_matrix.toarray()  # Convert to dense format if needed

# Repeat the user vector for each item if predicting for multiple items
user_vec_repeated = np.tile(user_vec, (num_items, 1))  # Repeat for 1 item in this case

# Make predictions
predicted_ratings = model.predict([user_vec_repeated, item_vecs])

# Print predicted ratings
print("Predicted Ratings for Each Item:")
print(predicted_ratings)

1/1 [==============================] - 0s 63ms/step
Predicted Ratings for Each Item:
[[0.43296984]]

In [156]:
# Example parameters for Min-Max scaling
min_rating = 0.5
max_rating = 5.0

# Predicted ratings from your model
predicted_ratings = np.array([[0.43296984]])

# Inverse Min-Max scaling
original_ratings = predicted_ratings * (max_rating - min_rating) + min_rating

# Print original ratings
print("Original Ratings:")
print(original_ratings)

Original Ratings:
[[2.44836428]]

In [162]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Example rating DataFrame (must have the same length as user_df and y)
# Create a DataFrame from your ratings data
ratings = pd.DataFrame({
    'user_id': user_df['user_id'],            # Assume this corresponds to ratings
    'item_id': item_df['goodreads_book_id'],  # Link this correctly to the ratings
    'rating': y                                 # Your ratings Series
})

# Ensure ratings DataFrame is aligned
# Drop any rows with missing values to ensure consistency
ratings.dropna(inplace=True)

# Split the data into train and test sets
user_train, user_test, item_train, item_test, y_train, y_test = train_test_split(
    ratings['user_id'], ratings['item_id'], ratings['rating'], 
    train_size=0.80, shuffle=True, random_state=1
)

# Normalize ratings
y_train_np = y_train.values.reshape(-1, 1)
y_test_np = y_test.values.reshape(-1, 1)

# Fit and transform the reshaped array for normalization
scaler = MinMaxScaler(feature_range=(-1, 1))
ynorm_train = scaler.fit_transform(y_train_np)
ynorm_test = scaler.transform(y_test_np)

# Number of unique users and items
num_users = ratings['user_id'].nunique()  # Get unique user count
num_items = ratings['item_id'].nunique()  # Get unique item count

# Embedding dimension
embedding_dim = 32

# Building embedding layers for users and items
user_input = tf.keras.layers.Input(shape=(1,), name='user_input')  # Single index input for users
item_input = tf.keras.layers.Input(shape=(1,), name='item_input')  # Single index input for items

# Embedding layers
user_embedding = tf.keras.layers.Embedding(input_dim=num_users, output_dim=embedding_dim)(user_input)
item_embedding = tf.keras.layers.Embedding(input_dim=num_items, output_dim=embedding_dim)(item_input)

# Flatten the embeddings
user_vecs = tf.keras.layers.Flatten()(user_embedding)
item_vecs = tf.keras.layers.Flatten()(item_embedding)

# Optionally, you can add dense layers after the embeddings
user_vecs = tf.keras.layers.Dense(64, activation='relu')(user_vecs)
item_vecs = tf.keras.layers.Dense(64, activation='relu')(item_vecs)

# Normalize the vectors
user_vecs = tf.linalg.l2_normalize(user_vecs, axis=1)
item_vecs = tf.linalg.l2_normalize(item_vecs, axis=1)

# Dot product for similarity score
output = tf.keras.layers.Dot(axes=1)([user_vecs, item_vecs])

# Define and compile the model
model = tf.keras.Model(inputs=[user_input, item_input], outputs=output)
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
              loss=tf.keras.losses.MeanSquaredError())

# Training the model
model.fit([user_train, item_train], ynorm_train, 
          validation_data=([user_test, item_test], ynorm_test), 
          epochs=50, 
          batch_size=32)

ValueError: Data must be 1-dimensional