In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

WARNING:tensorflow:From C:\Users\RHEA TIWARI\.conda\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [78]:
book = pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\books.csv")

In [79]:
book

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPr√©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [80]:
ratings=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\ratings.csv")

In [81]:
ratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [82]:
tags=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\tags.csv")

In [83]:
book_tags=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\book_tags.csv")

In [84]:
to_read=pd.read_csv(r"C:\Users\RHEA TIWARI\Downloads\archive_books\to_read.csv")

In [85]:
selected_indices = book.sample(n=5000, random_state=1).index

In [86]:
ratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [87]:
book.drop_duplicates(subset="original_title",keep=False,inplace=True)

In [88]:
book.shape

(9151, 23)

In [89]:
ratings.shape

(981756, 3)

In [90]:
book_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [91]:
book_tags.drop_duplicates(subset=['tag_id','goodreads_book_id'],keep=False ,inplace=True)

## Visualisation

## Content Based

In [92]:
grouped_df = book_tags.groupby('goodreads_book_id')['tag_id'].apply(list).reset_index()

In [93]:
grouped_df

      goodreads_book_id                                             tag_id
0                     1  [30574, 11305, 11557, 8717, 33114, 11743, 1401...
1                     2  [30574, 8717, 11305, 11557, 6857, 6888, 2104, ...
2                     3  [30574, 11557, 11305, 8717, 33114, 11743, 1401...
3                     5  [11557, 11305, 8717, 33114, 30574, 11743, 1401...
4                     6  [11305, 33114, 11743, 14017, 22743, 32989, 271...
...                 ...                                                ...
9995           31538647  [30574, 8717, 11305, 27669, 14017, 11743, 1721...
9996           31845516  [30574, 8717, 19733, 21689, 21773, 19742, 1155...
9997           32075671  [30574, 33114, 11557, 8055, 8717, 11743, 25153...
9998           32848471  [30574, 12680, 21387, 22219, 2136, 17213, 895,...
9999           33288638  [30574, 8717, 26138, 11557, 8055, 8076, 17260,...

[10000 rows x 2 columns]

In [94]:
def get_tag_names(tag_ids, tags_df):
    tag_names = tags_df.set_index('tag_id').loc[tag_ids, 'tag_name'].tolist()
    return tag_names

# Apply the function to get tag names for each book
grouped_df['tag_names'] = grouped_df['tag_id'].apply(get_tag_names, tags_df=tags)

KeyboardInterrupt:

In [23]:
grouped_df.head(5)

,goodreads_book_id,tag_id,tag_names
0,1,"[30574, 11305, 11557, 8717, 33114, 11743, 1401...","[to-read, fantasy, favorites, currently-readin..."
1,2,"[30574, 8717, 11305, 11557, 6857, 6888, 2104, ...","[to-read, currently-reading, fantasy, favorite..."
2,3,"[30574, 11557, 11305, 8717, 33114, 11743, 1401...","[to-read, favorites, fantasy, currently-readin..."
3,5,"[11557, 11305, 8717, 33114, 30574, 11743, 1401...","[favorites, fantasy, currently-reading, young-..."
4,6,"[11305, 33114, 11743, 14017, 22743, 32989, 271...","[fantasy, young-adult, fiction, harry-potter, ..."

In [24]:
tags_int=tags.copy()

In [25]:
tags_int['tag_id'] = tags['tag_id'].astype('int64')

In [26]:
# Get a list of all unique tag names
all_genres = tags_int['tag_name'].tolist()

# Initialize the matrix with zeros
matrix = pd.DataFrame(0, index=grouped_df['goodreads_book_id'], columns=all_genres)

# Function to get tag names from tag IDs
def get_tag_names(tag_ids, tags_df):
    tag_names = tags_df.set_index('tag_id').loc[tag_ids, 'tag_name'].tolist()
    return tag_names

# Populate the matrix
for _, row in grouped_df.iterrows():
    book_id = row['goodreads_book_id']
    tag_ids = row['tag_id']
    tag_names = get_tag_names(tag_ids, tags)
    matrix.loc[book_id, tag_names] = 1

print(matrix)

                   -  --1-  --10-  --12-  --122-  --166-  --17-  --19-  --2-  \
goodreads_book_id
1                  0     0      0      0       0       0      0      0     0
2                  0     0      0      0       0       0      0      0     0
3                  0     0      0      0       0       0      0      0     0
5                  0     0      0      0       0       0      0      0     0
6                  0     0      0      0       0       0      0      0     0
...               ..   ...    ...    ...     ...     ...    ...    ...   ...
31538647           0     0      0      0       0       0      0      0     0
31845516           0     0      0      0       0       0      0      0     0
32075671           0     0      0      0       0       0      0      0     0
32848471           0     0      0      0       0       0      0      0     0
33288638           0     0      0      0       0       0      0      0     0

                   --258-  ...  Êº´Áîª  Í≥®Îì†  Ôπèmoonplus-readerÔπè  Ô∫≠Ô∫øÔªÆÔªØ-ÿπÿßÿ¥Ÿàÿ±  \
goodreads_book_id          ...
1                       0  ...   0   0                  0           0
2                       0  ...   0   0                  0           0
3                       0  ...   0   0                  0           0
5                       0  ...   0   0                  0           0
6                       0  ...   0   0                  0           0
...                   ...  ...  ..  ..                ...         ...
31538647                0  ...   0   0                  0           0
31845516                0  ...   0   0                  0           0
32075671                0  ...   0   0                  0           0
32848471                0  ...   0   0                  0           0
33288638                0  ...   0   0                  0           0

                   Ôª≥ÔªÆÔ∫≥Ôªí-ÿ≤ŸäÿØÿßŸÜ  Ôº£hildrens  Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì  Ôº≠ÔΩÅÔΩéÔΩáÔΩÅ  Ôº≥Ôº•Ôº≤Ôº©Ôº•Ôº≥  ÔΩÜÔΩÅÔΩñÔΩèÔΩïÔΩíÔΩâÔΩîÔΩÖÔΩì
goodreads_book_id
1                           0          0          0      0       0           0
2                           0          0          0      0       0           0
3                           0          0          0      0       0           0
5                           0          0          0      0       0           0
6                           0          0          0      0       0           0
...                       ...        ...        ...    ...     ...         ...
31538647                    0          0          0      0       0           0
31845516                    0          0          0      0       0           0
32075671                    0          0          0      0       0           0
32848471                    0          0          0      0       0           0
33288638                    0          0          0      0       0           0

[10000 rows x 34252 columns]

In [27]:
book_genre_tag= pd.DataFrame(matrix)

In [28]:
book_genre_tag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 33288638
Columns: 34252 entries, - to ÔΩÜÔΩÅÔΩñÔΩèÔΩïÔΩíÔΩâÔΩîÔΩÖÔΩì
dtypes: int64(34252)
memory usage: 2.6 GB

In [29]:
df = pd.DataFrame(book_tags)
tags = pd.DataFrame(tags)

# Merge grouped_df with tags to get tag names
merged_df = df.merge(tags, on='tag_id')

In [30]:

genre_counts =merged_df['tag_id'].value_counts()

# Display the most common genres
print("Most Common Genres:")
print(genre_counts)

# To get the top N most common genres, you can use:
top_n = 10
most_common_genres = genre_counts.head(top_n)
print(f"\nTop {top_n} Most Common Genres:")
print(most_common_genres)

Most Common Genres:
30574    9983
11557    9881
22743    9856
5207     9799
8717     9776
         ...
24448       1
4369        1
22380       1
4118        1
27939       1
Name: tag_id, Length: 34251, dtype: int64

Top 10 Most Common Genres:
30574    9983
11557    9881
22743    9856
5207     9799
8717     9776
18045    9415
22753    9221
11743    9097
30521    8692
17213    8316
Name: tag_id, dtype: int64

In [31]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   goodreads_book_id  10000 non-null  int64
 1   tag_id             10000 non-null  object
 2   tag_names          10000 non-null  object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [32]:
merged_df

        goodreads_book_id  tag_id   count     tag_name
0                       1   30574  167697      to-read
1                       2   30574   24549      to-read
2                       3   30574  496107      to-read
3                       5   30574   11909      to-read
4                       6   30574     298      to-read
...                   ...     ...     ...          ...
999891           31538635   14690       6     hogwarts
999892           32848471   16149      21     jan-2017
999893           33288638   27821       9   single-mom
999894           33288638   11478       7  fave-author
999895           33288638   27939       7     slowburn

[999896 rows x 4 columns]

In [33]:
unwanted_names = ['my-library','i-own','ebooks','default','books-i-have','read-in-2010','3-stars', 'read-in-2015','read-in-2014', 'read-in-2013','recommended','on-my-shelf','on-hold','read-in-2016','read-2013','read-2012','read-2017', '2015-reads','listened-to','unread','maybe','have', 'audio-book','didn-t-finish','read-in-2012','dnf','own-to-read','read-in-2011', 'read-in-2017', '5-stars', 'read-2016', 'read-2014','read-2015','abandoned','unfinished','reviewed', '4-stars','2014-reads','to-read', 'favorites', 'owned', 'books-i-own','currently-reading', 'library', 'owned-books',  'to-buy', 'kindle', 'ebook', 'my-books', 'audiobook', 'wish-list', 'audiobooks', 'audio', 'favourites', 'own-it','paperback','library-books','to-read-fiction','did-not-finish','borrowed','series', 'e-book', 'books','book-club', 'audible', 'shelfari-favorites','audio-books', 'novel', 're-read','to-read-non-fiction','shelfari-wishlist', 'first-in-series','kindle-books','want-to-read', 'tbr','must-read', 'need-to-buy','1001-books-to-read-before-you-die','e-books','2015-reading-challenge','to-read-own', 'loved','never-finished','2016-read','pnr', 'made-me-cry','5-star','favorite-books', 'finished','2015-books','favs','2017-reads','2006', 'owned-to-read','read-for-school','2016-reading-challenge','classics-to-read', '2012-reads','collection', 'books-to-buy']  # List of names you want to remove

# Create a boolean mask to select rows that contain unwanted names
mask = merged_df['tag_name'].isin(unwanted_names)

# Apply the mask to the DataFrame to select only the rows you want to keep
filtered_merged_df = merged_df[mask == False]

In [104]:
genre_counts = filtered_merged_df['tag_name'].value_counts()

# Filter genres with more than 5 associated books
filtered_genres = genre_counts[genre_counts > 500].index.tolist()

print("Filtered Genres:")
print(filtered_genres)
print(len(filtered_genres))

Filtered Genres:
['fiction', 'adult', 'novels', 'contemporary', 'adult-fiction', 'fantasy', 'romance', 'mystery', 'adventure', 'young-adult', 'english', 'favorite', 'drama', 'literature', 'general-fiction', 'ya', 'all-time-favorites', 'classics', 'contemporary-fiction', 'historical-fiction', 'historical', 'thriller', 'sci-fi-fantasy', 'american', 'suspense', 'home-library', 'sci-fi', 'science-fiction', 'action', 'humor', 'family', 'history', 'non-fiction', 'calibre', 'crime', 'fantasy-sci-fi', 'nook', 'library-book', 'chick-lit', '20th-century', 'paranormal', 'school', 'classic', 'magic', 'mystery-thriller', 'teen', 'supernatural', 'nonfiction', 'favorite-authors', 'realistic-fiction', 'literary-fiction', 'bookclub', 'funny', 'bookshelf', 'scifi-fantasy', 'love', 'part-of-a-series', 'ya-fiction', 'mystery-suspense', 'mysteries', 'urban-fantasy', 'childhood', 'read-in-english', 'children', 'literary', 'horror', 'reread', 'young-adult-fiction', 'childrens', 'thrillers', 'british', '2016-reads', 'children-s', 'kids', 'coming-of-age', 'on-kindle', 'favorite-series', 'science-fiction-fantasy', 'science', 'friendship', 'children-s-books', 'general', 'ya-books', 'my-favorites', 'scifi', 'action-adventure', 'humour', 'biography', 'speculative-fiction', 'contemporary-romance', 'high-school', 'women', 'philosophy', 'war', 'mystery-crime', 'fantasy-scifi', 'usa', 'juvenile', 'comedy', 'suspense-thriller', 'stand-alone', 'england', 'childrens-books', 'ya-fantasy', 'crime-mystery', 'kids-books', 'detective', 'female-author', 'book-club-books', 'personal-library', 'my-bookshelf', '2013-reads', 'book-group', 'other', 'crime-fiction', 'youth', 'faves', 'modern-fiction', 'read-2011', 'relationships', 'childhood-books', 'couldn-t-finish', 'read-in-2009', 'middle-grade', 'memoir', 'gave-up-on', 'religion', 'mine', 'crime-thriller', 'childhood-favorites', 'american-literature', 'children-s-literature', 'children-s-lit', 'want', 'ya-lit', 'overdrive', 'paranormal-romance', 'to-re-read', 'murder', 'dark', 'arc', 'psychology', 'to-read-nonfiction', 'europe', 'politics', 'sff', 'middle-school', 'sci-fi-and-fantasy', '2016-books', 'murder-mystery', 'high-fantasy', 'hardcover', 'sf', 'dystopian', 'classic-literature', 'biography-memoir', 'memoirs', 'teen-fiction', 'biographies', '21st-century', 'female-authors', 'thriller-mystery', 'dystopia', 'lit', 'short-stories', 'non-fic', 'sf-fantasy', 'first-reads', 'favourite', 'inspirational', 'non-fiction-to-read', 'childrens-lit', 'thriller-suspense', 'juvenile-fiction', 'for-school', 'paranormal-fantasy', 'college', 'autobiography', 'humorous', 'mystery-thrillers', 'vampires', 'guilty-pleasures', 'epic-fantasy', 'fantasy-paranormal', 'fun', 'america', '1', 'in-my-library', 'british-literature', 'reference', 'epic', 'childhood-reads', '2014-books', 'new-adult', 'memoir-biography', 'death', 'alpha-male', 'school-books', 'self-help', 'book-boyfriends', 'animals', 'mythology', 'children-s-fiction', 'book-club-reads', 'on-my-bookshelf', 'chicklit', 'to-get', 'kid-lit', 'uk', 'vampire', 'read-more-than-once', 'erotica', 'children-books', 'bought', 'american-lit', 'realistic', '1001-books', 'chic-lit', 'classroom-library', '1001', 'mystery-suspense-thriller', 'adult-romance', 'childrens-literature', 'modern', 'spirituality']
225

In [105]:
column_sums = book_genre_tag.sum()

# Filter out columns where the sum is less than 100
filtered_columns = column_sums[column_sums >= 1000].index

# Select only the columns with sufficient occurrences of the value 1
filtered_book_genre_tag = book_genre_tag[filtered_columns]

In [106]:
filtered_book_genre_tag.shape

(10000, 186)

In [107]:
filtered_book_genre_tag = filtered_book_genre_tag.drop(columns=filtered_book_genre_tag.columns[0:5])

In [108]:
filtered_book_genre_tag.rename_axis('book_id', inplace=True)

In [109]:
user_merge=ratings.merge(filtered_book_genre_tag,on='book_id')

In [110]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981756 entries, 0 to 981755
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   book_id  981756 non-null  int64
 1   user_id  981756 non-null  int64
 2   rating   981756 non-null  int64
dtypes: int64(3)
memory usage: 22.5 MB

In [111]:
user_merge

,book_id,user_id,rating,4-stars,5-stars,abandoned,action,action-adventure,adult,adult-fiction,...,want-to-read,war,wish-list,women,ya,ya-books,ya-fantasy,ya-fiction,young-adult,young-adult-fiction
0,1,314,5,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
1,1,439,3,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
2,1,588,5,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
3,1,1169,4,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
4,1,1185,4,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79696,9998,51295,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79697,9998,51559,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79698,9998,52087,4,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79699,9998,52330,4,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79700,9998,53249,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0

In [112]:
book_tags.rename(columns={'goodreads_book_id': 'book_id'}, inplace=True)

In [113]:
comb= ratings.merge(book_tags,on='book_id')

In [114]:
comb=comb.merge(tags,on='tag_id')

In [115]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34252 entries, 0 to 34251
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tag_id    34252 non-null  int64
 1   tag_name  34252 non-null  object
dtypes: int64(1), object(1)
memory usage: 535.3+ KB

In [116]:
comb.drop(columns='count')

         book_id  user_id  rating  tag_id tag_name
0              1      314       5   30574  to-read
1              1      439       3   30574  to-read
2              1      588       5   30574  to-read
3              1     1169       4   30574  to-read
4              1     1185       4   30574  to-read
...          ...      ...     ...     ...      ...
7969895     9998    51295       5   34240     Êó•Êú¨ÊñáÂ≠¶
7969896     9998    51559       5   34240     Êó•Êú¨ÊñáÂ≠¶
7969897     9998    52087       4   34240     Êó•Êú¨ÊñáÂ≠¶
7969898     9998    52330       4   34240     Êó•Êú¨ÊñáÂ≠¶
7969899     9998    53249       5   34240     Êó•Êú¨ÊñáÂ≠¶

[7969900 rows x 5 columns]

In [57]:
# Filter the DataFrame 'comb' to include only rows where 'user_id' is 2 and 'adult' tag is present
user_2_action_books = comb[(comb['user_id'] == 977) & (comb['tag_name'].str.contains('adult'))]

# Count the number of books
action_books_count = len(user_2_action_books)

# Display the count of books
print("Number of books with 'adult' tag read by user 3:", action_books_count)

# Filter the DataFrame 'comb' to include only rows where 'user_id' is 3 and 'adult' tag is present
user_3_adult_books = comb[(comb['user_id'] == 997) & (comb['tag_name'].str.contains('adult'))]

# Display the count of books with 'adult' tag read by user 3
print("Number of books with 'adult' tag read by user 3:", len(user_3_adult_books))

# Display the ratings for the books with 'adult' tag read by user 3
print("Ratings for the books with 'adult' tag read by user 3:")
print(user_3_adult_books[['book_id', 'rating','tag_name']])

Number of books with 'adult' tag read by user 3: 3
Number of books with 'adult' tag read by user 3: 17
Ratings for the books with 'adult' tag read by user 3:
         book_id  rating          tag_name
3173210      706       3             adult
3175811     1362       3             adult
3176210     1420       3             adult
3180711     2199       4             adult
3183209     2873       5             adult
3184511     3291       5             adult
3187710     3717       4             adult
3189311     4004       4             adult
3204478     5826       4             adult
3222894     9549       3             adult
3300364     1420       3     adult-fiction
3304763     2873       5     adult-fiction
3308564     3717       4     adult-fiction
3323434     5826       4     adult-fiction
3338520     9549       3     adult-fiction
4442406      706       3  adult-nonfiction
7125280     2873       5          adultery

In [51]:
# Calculate the average rating for each unique 'tag_name'
average_ratings_by_tag = user_3_adult_books.groupby('tag_name')['rating'].mean()

# Display the average ratings for each 'tag_name'
print("Average ratings for each 'tag_name' read by user 3:")
print(average_ratings_by_tag)

Average ratings for each 'tag_name' read by user 3:
tag_name
adult               3.8
adult-fiction       3.8
adult-nonfiction    3.0
adultery            5.0
Name: rating, dtype: float64

In [103]:
# Define the list of unwanted tag names

# Drop rows where the 'tag_name' column contains any of the unwanted names
comb = comb[~comb['tag_name'].isin(unwanted_names)]

# Display the DataFrame after dropping rows
print(comb)
first_1000_comb = comb

         book_id  user_id  rating  tag_id  count tag_name
79701          1      314       5   11305  37174  fantasy
79702          1      439       3   11305  37174  fantasy
79703          1      588       5   11305  37174  fantasy
79704          1     1169       4   11305  37174  fantasy
79705          1     1185       4   11305  37174  fantasy
...          ...      ...     ...     ...    ...      ...
7969895     9998    51295       5   34240      4     Êó•Êú¨ÊñáÂ≠¶
7969896     9998    51559       5   34240      4     Êó•Êú¨ÊñáÂ≠¶
7969897     9998    52087       4   34240      4     Êó•Êú¨ÊñáÂ≠¶
7969898     9998    52330       4   34240      4     Êó•Êú¨ÊñáÂ≠¶
7969899     9998    53249       5   34240      4     Êó•Êú¨ÊñáÂ≠¶

[5375909 rows x 6 columns]

In [122]:
# Step 1: Extract the column names from user_merge
valid_tag_names = user_merge.columns

# Step 2: Filter the DataFrame where 'tag_name' matches any column name in user_merge
first_1000_comb = first_1000_comb[first_1000_comb['tag_name'].isin(valid_tag_names)]

# Step 3: Further filter rows where 'count' is greater than or equal to 800

# Step 4: Display the filtered DataFrame
print(fd.head())

# Optional: Check how many rows are in the filtered DataFrame
print(f"Filtered rows: {len(fd)}")

       book_id  user_id  rating  tag_id  count tag_name
79701        1      314       5   11305  37174  fantasy
79702        1      439       3   11305  37174  fantasy
79703        1      588       5   11305  37174  fantasy
79704        1     1169       4   11305  37174  fantasy
79705        1     1185       4   11305  37174  fantasy
Filtered rows: 1805905

In [123]:
# Group the 'comb' DataFrame by 'book_id', 'user_id', and 'tag_name' and calculate the average rating
average_ratings = first_1000_comb.groupby(['book_id', 'user_id', 'tag_name'])['rating'].mean().reset_index()

# Pivot the data to have 'book_id' and 'user_id' as the index, 'tag_name' as columns, and average rating as values
pivot_ratings = average_ratings.pivot_table(index=['book_id', 'user_id'], columns='tag_name', values='rating').reset_index()

# Fill NaN values with 0
pivot_ratings.fillna(0, inplace=True)

# Merge with a DataFrame containing all unique 'book_id' and 'user_id' combinations
all_books_users = first_1000_comb[['book_id', 'user_id']].drop_duplicates()
result = all_books_users.merge(pivot_ratings, on=['book_id', 'user_id'], how='left')

# Display the resulting DataFrame
print(result.head(500))

     book_id  user_id  action  action-adventure  adult  adult-fiction  \
0          1      314     0.0               0.0    0.0            0.0
1          1      439     0.0               0.0    0.0            0.0
2          1      588     0.0               0.0    0.0            0.0
3          1     1169     0.0               0.0    0.0            0.0
4          1     1185     0.0               0.0    0.0            0.0
..       ...      ...     ...               ...    ...            ...
495        6    52469     0.0               0.0    0.0            0.0
496        6    52583     0.0               0.0    0.0            0.0
497        6    52740     0.0               0.0    0.0            0.0
498        6    53145     0.0               0.0    0.0            0.0
499        6    53292     0.0               0.0    0.0            0.0

     adventure  all-time-favorites  american  biography  ...  urban-fantasy  \
0          5.0                 5.0       0.0        0.0  ...            5.0
1          3.0                 3.0       0.0        0.0  ...            3.0
2          5.0                 5.0       0.0        0.0  ...            5.0
3          4.0                 4.0       0.0        0.0  ...            4.0
4          4.0                 4.0       0.0        0.0  ...            4.0
..         ...                 ...       ...        ...  ...            ...
495        5.0                 5.0       0.0        0.0  ...            5.0
496        5.0                 5.0       0.0        0.0  ...            5.0
497        2.0                 2.0       0.0        0.0  ...            2.0
498        5.0                 5.0       0.0        0.0  ...            5.0
499        5.0                 5.0       0.0        0.0  ...            5.0

     usa  war  women   ya  ya-books  ya-fantasy  ya-fiction  young-adult  \
0    0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0
1    0.0  0.0    0.0  3.0       0.0         3.0         3.0          3.0
2    0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0
3    0.0  0.0    0.0  4.0       0.0         4.0         4.0          4.0
4    0.0  0.0    0.0  4.0       0.0         4.0         4.0          4.0
..   ...  ...    ...  ...       ...         ...         ...          ...
495  0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0
496  0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0
497  0.0  0.0    0.0  2.0       0.0         2.0         2.0          2.0
498  0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0
499  0.0  0.0    0.0  5.0       0.0         5.0         5.0          5.0

     young-adult-fiction
0                    5.0
1                    3.0
2                    5.0
3                    4.0
4                    4.0
..                   ...
495                  5.0
496                  5.0
497                  2.0
498                  5.0
499                  5.0

[500 rows x 106 columns]

In [124]:
result=pd.DataFrame(result)
result

,book_id,user_id,action,action-adventure,adult,adult-fiction,adventure,all-time-favorites,american,biography,...,urban-fantasy,usa,war,women,ya,ya-books,ya-fantasy,ya-fiction,young-adult,young-adult-fiction
0,1,314,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,...,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0,5.0
1,1,439,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,...,3.0,0.0,0.0,0.0,3.0,0.0,3.0,3.0,3.0,3.0
2,1,588,0.0,0.0,0.0,0.0,5.0,5.0,0.0,0.0,...,5.0,0.0,0.0,0.0,5.0,0.0,5.0,5.0,5.0,5.0
3,1,1169,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,4.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0,4.0
4,1,1185,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,...,4.0,0.0,0.0,0.0,4.0,0.0,4.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79526,3895,49752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79527,3895,50414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79528,3895,51402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79529,3895,51540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79530,3895,52748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# Step 1: Pivot the DataFrame so that 'tag_name' becomes columns
pivoted_data = result.pivot_table(index=['book_id', 'user_id'], columns='tag_name', values='rating', aggfunc='mean').reset_index()

# Step 2: Fill NaN values with 0 (optional, depends on your use case)
pivoted_data = pivoted_data.fillna(0)

# Step 3: Display the resulting DataFrame
print(pivoted_data.head())

MemoryError: Unable to allocate 3.93 GiB for an array with shape (79531, 6635) and data type float64

In [55]:
result

,book_id,user_id,-,--12-,--33-,--62-,-d-c--,-fictitious,-n-y--,-post,...,ŸÖŸäŸÑÿßŸÜ-ŸÉŸàŸÜÿØŸäÿ±ÿß,ŸÜÿ≥ÿÆ-ÿ•ŸÑŸÉÿ™ÿ±ŸàŸÜŸäÿ©,ŸÜÿ≥ÿÆÿ©-Ÿàÿ±ŸÇŸäÿ©,Ÿáÿßÿ±ŸàŸÉŸä-ŸÖŸàÿ±ÿßŸÉÿßŸÖŸä,Ÿàÿ±ŸÇŸä,⁄©ŸàÿØ⁄©-Ÿà-ŸÜŸàÿ¨ŸàÿßŸÜ,Êó•Êú¨ÊñáÂ≠¶,Êó•Êú¨Ë™û,Ôº£hildrens,Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì
0,1,314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79526,5559,50839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79527,5559,51751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79528,5559,52022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79529,5559,53029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79530,5559,53201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
result['rating']=user_merge['rating']

In [58]:
result

,book_id,user_id,-,--12-,--33-,--62-,-d-c--,-fictitious,-n-y--,-post,...,ŸÜÿ≥ÿÆ-ÿ•ŸÑŸÉÿ™ÿ±ŸàŸÜŸäÿ©,ŸÜÿ≥ÿÆÿ©-Ÿàÿ±ŸÇŸäÿ©,Ÿáÿßÿ±ŸàŸÉŸä-ŸÖŸàÿ±ÿßŸÉÿßŸÖŸä,Ÿàÿ±ŸÇŸä,⁄©ŸàÿØ⁄©-Ÿà-ŸÜŸàÿ¨ŸàÿßŸÜ,Êó•Êú¨ÊñáÂ≠¶,Êó•Êú¨Ë™û,Ôº£hildrens,Ôº¶ÔΩÅÔΩñÔΩèÔΩíÔΩâÔΩîÔΩÖÔΩì,rating
0,1,314,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
1,1,439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
2,1,588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3,1,1169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,1,1185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79526,5559,50839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
79527,5559,51751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
79528,5559,52022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
79529,5559,53029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
79530,5559,53201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4

In [ ]:
result['rating'].isna().sum()

In [59]:
# Add new columns to result
result['new-adult'] = 0
result['alpha-male'] = 0
result['book-boyfriends'] = 0
# Assuming 'filtered_genres' contains the names of genres you want to keep
selected_columns = ['book_id', 'user_id','rating'] + filtered_genres  # Add 'book_id' and 'user_id' columns

# Select only the columns present in 'filtered_genres'
result_df = result.loc[:, selected_columns]

# Print the resulting DataFrame
print(result_df)

       book_id  user_id  rating  fiction  adult  novels  contemporary  \
0            1      314       5      5.0    0.0     5.0           5.0
1            1      439       3      3.0    0.0     3.0           3.0
2            1      588       5      5.0    0.0     5.0           5.0
3            1     1169       4      4.0    0.0     4.0           4.0
4            1     1185       4      4.0    0.0     4.0           4.0
...        ...      ...     ...      ...    ...     ...           ...
79526     5559    50839       1      0.0    0.0     0.0           0.0
79527     5559    51751       4      0.0    0.0     0.0           0.0
79528     5559    52022       5      0.0    0.0     0.0           0.0
79529     5559    53029       3      0.0    0.0     0.0           0.0
79530     5559    53201       4      0.0    0.0     0.0           0.0

       adult-fiction  fantasy  romance  ...  realistic  1001-books  chic-lit  \
0                0.0      5.0      5.0  ...        0.0         0.0       0.0
1                0.0      3.0      3.0  ...        0.0         0.0       0.0
2                0.0      5.0      5.0  ...        0.0         0.0       0.0
3                0.0      4.0      4.0  ...        0.0         0.0       0.0
4                0.0      4.0      4.0  ...        0.0         0.0       0.0
...              ...      ...      ...  ...        ...         ...       ...
79526            0.0      0.0      0.0  ...        0.0         0.0       0.0
79527            0.0      0.0      0.0  ...        0.0         0.0       0.0
79528            0.0      0.0      0.0  ...        0.0         0.0       0.0
79529            0.0      0.0      0.0  ...        0.0         0.0       0.0
79530            0.0      0.0      0.0  ...        0.0         0.0       0.0

       classroom-library  1001  mystery-suspense-thriller  adult-romance  \
0                    0.0   0.0                        0.0            0.0
1                    0.0   0.0                        0.0            0.0
2                    0.0   0.0                        0.0            0.0
3                    0.0   0.0                        0.0            0.0
4                    0.0   0.0                        0.0            0.0
...                  ...   ...                        ...            ...
79526                0.0   0.0                        0.0            0.0
79527                0.0   0.0                        0.0            0.0
79528                0.0   0.0                        0.0            0.0
79529                0.0   0.0                        0.0            0.0
79530                0.0   0.0                        0.0            0.0

       childrens-literature  modern  spirituality
0                       0.0     0.0           0.0
1                       0.0     0.0           0.0
2                       0.0     0.0           0.0
3                       0.0     0.0           0.0
4                       0.0     0.0           0.0
...                     ...     ...           ...
79526                   0.0     0.0           0.0
79527                   0.0     0.0           0.0
79528                   0.0     0.0           0.0
79529                   0.0     0.0           0.0
79530                   0.0     0.0           0.0

[79531 rows x 228 columns]

In [60]:
user_merge

,book_id,user_id,rating,4-stars,5-stars,abandoned,action,action-adventure,adult,adult-fiction,...,want-to-read,war,wish-list,women,ya,ya-books,ya-fantasy,ya-fiction,young-adult,young-adult-fiction
0,1,314,5,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
1,1,439,3,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
2,1,588,5,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
3,1,1169,4,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
4,1,1185,4,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79696,9998,51295,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79697,9998,51559,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79698,9998,52087,4,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79699,9998,52330,4,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
79700,9998,53249,5,0,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0

In [125]:


## Check for repetitions in 'user_id'
repeated = user_merge['user_id'].duplicated()

# Print the result
print(repeated)

# Print the user ids that are being repeated
# Print the user ids that are being repeated
if repeated.any():
    print(result.loc[repeated, 'user_id'])

0        False
1        False
2        False
3        False
4        False
         ...
79696    False
79697    False
79698     True
79699     True
79700     True
Name: user_id, Length: 79701, dtype: bool
100       1169
102       3922
105       5461
106       5885
109       6630
         ...
79518    45889
79520    46341
79522    47421
79524    47656
79529    51540
Name: user_id, Length: 50707, dtype: int64

In [126]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79531 entries, 0 to 79530
Columns: 106 entries, book_id to young-adult-fiction
dtypes: float64(104), int64(2)
memory usage: 64.9 MB

In [ ]:
unique_result

In [ ]:
# Get the intersection of column names between the two DataFrames
common_columns = filtered_book_genre_tag.columns.intersection(result.columns)

# Keep only the common columns in the 'user' DataFrame
user = result[common_columns]

# Display the updated DataFrame 'user'

In [ ]:
user

In [65]:
unique_user_ids = result_df['user_id'].nunique()
print("Number of unique user IDs:", unique_user_ids)

Number of unique user IDs: 28906

In [66]:
result_df

,book_id,user_id,rating,fiction,adult,novels,contemporary,adult-fiction,fantasy,romance,...,realistic,1001-books,chic-lit,classroom-library,1001,mystery-suspense-thriller,adult-romance,childrens-literature,modern,spirituality
0,1,314,5,5.0,0.0,5.0,5.0,0.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,439,3,3.0,0.0,3.0,3.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,588,5,5.0,0.0,5.0,5.0,0.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1169,4,4.0,0.0,4.0,4.0,0.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1185,4,4.0,0.0,4.0,4.0,0.0,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79526,5559,50839,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79527,5559,51751,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79528,5559,52022,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79529,5559,53029,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79530,5559,53201,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
unique_user_ids = result['user_id'].nunique()
print("Number of unique user IDs:", unique_user_ids)

NameError: name 'result' is not defined

In [70]:
column_sums = result_df.sum()

# Filter out columns where the sum is less than 100
filter_user = column_sums[column_sums >= 5000].index

# Select only the columns with sufficient occurrences of the value 1
filtered_user= result_df[filter_user]

In [72]:
result_df=filtered_user

In [73]:
# Check for repetitions in 'user_id'
repeated = result_df['user_id'].duplicated(keep=False)

# If there are repeated 'user_id' values, print the 'user_id' and 'book_id' columns for those rows
if repeated.any():
    print(result_df.loc[repeated, ['user_id', 'book_id']])

       user_id  book_id
0          314        1
1          439        1
2          588        1
3         1169        1
4         1185        1
...        ...      ...
79526    50839     5559
79527    51751     5559
79528    52022     5559
79529    53029     5559
79530    53201     5559

[66656 rows x 2 columns]

In [74]:
filtered_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79531 entries, 0 to 79530
Columns: 213 entries, book_id to spirituality
dtypes: float64(210), int64(3)
memory usage: 129.8 MB

In [85]:
user_df.drop(columns='book_id')

,user_id,rating,fiction,adult,novels,contemporary,adult-fiction,fantasy,romance,mystery,...,american-lit,realistic,1001-books,chic-lit,classroom-library,1001,mystery-suspense-thriller,childrens-literature,modern,spirituality
0,2,3.0,0.0,4.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
1,3,5.0,1.0,1.0,1.00,1.00,1.0,1.00,0.0,1.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,4,4.0,2.0,2.0,2.00,2.00,2.0,0.00,2.0,0.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
3,7,3.5,4.0,4.0,2.75,2.75,2.0,1.25,0.0,0.75,...,0.0,0.0,1.25,0.0,0.0,1.25,0.0,0.0,2.0,0.0
4,9,5.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,5.0,4.0,0.0,0.00,0.00,0.0,0.00,0.0,0.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,4.0,0.0,0.0
28902,53420,3.0,3.5,3.5,1.50,2.00,3.5,0.00,0.0,2.00,...,1.5,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28903,53422,4.0,4.0,4.0,4.00,4.00,4.0,4.00,4.0,4.00,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28904,53423,5.0,5.0,5.0,5.00,5.00,5.0,0.00,0.0,0.00,...,5.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28905,53424,3.0,5.0,5.0,5.00,5.00,5.0,5.00,0.0,0.00,...,0.0,0.0,5.00,0.0,0.0,5.00,0.0,0.0,0.0,5.0

In [64]:
filtered_book_genre_tag

,4-stars,5-stars,abandoned,action,action-adventure,adult,adult-fiction,adventure,all-time-favorites,american,...,want-to-read,war,wish-list,women,ya,ya-books,ya-fantasy,ya-fiction,young-adult,young-adult-fiction
book_id,,,,,,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,1,1,1,1
2,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,1,1,1,1,1
3,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,1,1,1,1
5,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,1,1,1,1
6,0,1,0,0,0,0,0,1,1,0,...,0,0,0,0,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31538647,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
31845516,0,0,1,0,0,1,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
32075671,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,1,1,0,1,1,1
32848471,1,0,0,0,0,1,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
33288638,1,1,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
# Define the list of columns to keep
# Extract column names from filtered_book_genre DataFrame
filtered_book_= filtered_book_genre.columns.tolist()
print()

# Define the list of columns to keep
columns_to_keep = ['user_id', 'rating'] + filtered_book

# Filter the result DataFrame
result_df = result_df.loc[:, columns_to_keep]

NameError: name 'filtered_book' is not defined

In [80]:
# List of columns to remove
columns_to_remove = ['audible', 'audio', 'audio-book', 'audio-books', 'audiobook', 'audiobooks', 'book-club', 'books', 'books-i-have', 'books-i-own', 'borrowed', 'currently-reading', 'default', 'did-not-finish', 'didn-t-finish', 'dnf', 'e-book', 'e-books', 'ebook', 'ebooks', 'favorite-books', 'favorites', 'favourites', 'finished', 'first-in-series', 'have', 'i-own', 'kindle', 'kindle-books', 'library', 'library-books', 'listened-to', 'maybe', 'must-read', 'my-books', 'my-library', 'need-to-buy', 'novel', 'on-hold', 'on-my-shelf', 'own-it', 'own-to-read', 'owned', 'owned-books', 'paperback', 're-read', 'read-2012', 'read-2013', 'read-2014', 'read-2015', 'read-2016', 'read-2017', 'read-in-2010', 'read-in-2011', 'read-in-2012', 'read-in-2013', 'read-in-2014', 'read-in-2015', 'read-in-2016', 'read-in-2017', 'recommended', 'reviewed', 'series', 'shelfari-favorites', 'shelfari-wishlist', 'tbr', 'to-buy', 'to-read', 'to-read-fiction', 'to-read-non-fiction', 'unfinished', 'unread', 'want-to-read', 'wish-list']

# Drop the columns from filtered_book_genre
filtered_book_genre = filtered_book_genre_tag.drop(columns=columns_to_remove)

# Now, you can proceed with your analysis or further operations

In [65]:
result_df

NameError: name 'result_df' is not defined

In [83]:
genre_columns = result_df.columns.difference(['book_id', 'user_id', 'rating'])

# Group by user_id and book_id, then calculate the mean for each genre
user_df = result_df.groupby(['user_id']).mean().reset_index()

# Display the aggregated DataFrame

In [86]:
user_df

,user_id,book_id,rating,fiction,adult,novels,contemporary,adult-fiction,fantasy,romance,...,american-lit,realistic,1001-books,chic-lit,classroom-library,1001,mystery-suspense-thriller,childrens-literature,modern,spirituality
0,2,9762.0,3.0,0.0,4.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
1,3,9014.0,5.0,1.0,1.0,1.00,1.00,1.0,1.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,4,3273.0,4.0,2.0,2.0,2.00,2.00,2.0,0.00,2.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
3,7,3489.0,3.5,4.0,4.0,2.75,2.75,2.0,1.25,0.0,...,0.0,0.0,1.25,0.0,0.0,1.25,0.0,0.0,2.0,0.0
4,9,8676.0,5.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,7911.0,5.0,4.0,0.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,4.0,0.0,0.0
28902,53420,5581.5,3.0,3.5,3.5,1.50,2.00,3.5,0.00,0.0,...,1.5,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28903,53422,7667.0,4.0,4.0,4.0,4.00,4.00,4.0,4.00,4.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28904,53423,4984.0,5.0,5.0,5.0,5.00,5.00,5.0,0.00,0.0,...,5.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28905,53424,4214.0,3.0,5.0,5.0,5.00,5.00,5.0,5.00,0.0,...,0.0,0.0,5.00,0.0,0.0,5.00,0.0,0.0,0.0,5.0

In [66]:
filtered_book_genre

NameError: name 'filtered_book_genre' is not defined

## Neural Networks

In [93]:
common_columns = book_genre_tag.columns.intersection(user_df.columns)

# Keep only the common columns in the 'user' DataFrame
item_df = book_genre_tag[common_columns]

In [94]:
item_df

,1,1001,1001-books,2016-reads,20th-century,21st-century,action,action-adventure,adult,adult-fiction,...,war,women,ya,ya-books,ya-fantasy,ya-fiction,ya-lit,young-adult,young-adult-fiction,youth
goodreads_book_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,1,1,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,1,1,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,1,1,1
6,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31538647,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
31845516,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
32075671,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,1,1,0
32848471,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
33288638,0,0,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [95]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [96]:
y_train=user_df['rating']

In [97]:
y_train

0        3.0
1        5.0
2        4.0
3        3.5
4        5.0
        ...
28901    5.0
28902    3.0
28903    4.0
28904    5.0
28905    3.0
Name: rating, Length: 28906, dtype: float64

In [122]:
item_train_unscaled = item_df
user_train_unscaled = user_df
y_train_unscaled    = y_train
y_train = np.array(y_train)

scalerItem = StandardScaler()
scalerItem.fit(item_df)
item_train = scalerItem.transform(np.array(item_df))

scalerUser = StandardScaler()
scalerUser.fit(user_df)
user_train = scalerUser.transform(np.array(user_df))

scalerTarget = MinMaxScaler((-1, 1))
scalerTarget.fit(y_train.reshape(-1, 1))
y_train = scalerTarget.transform(y_train.reshape(-1, 1))
#ynorm_test = scalerTarget.transform(y_test.reshape(-1, 1))

print(np.allclose(item_train_unscaled, scalerItem.inverse_transform(np.array(item_df))))
print(np.allclose(user_train_unscaled, scalerUser.inverse_transform(np.array(user_df))))

C:\Users\RHEA TIWARI\.conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\RHEA TIWARI\.conda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

False
False

In [108]:
index_object=user_df.columns

In [109]:
import pandas as pd

# Assuming index_object is your index object
column_names = index_object.tolist()  # Convert the index object to a list

# Create a DataFrame with a single column containing the column names
df = pd.DataFrame(column_names, columns=['column_name'])

# Reset the index to create a new index column
user_df.reset_index(inplace=True, drop=True)

# Now df contains a single column with the column names

In [111]:
user_df

,user_id,book_id,rating,fiction,adult,novels,contemporary,adult-fiction,fantasy,romance,...,american-lit,realistic,1001-books,chic-lit,classroom-library,1001,mystery-suspense-thriller,childrens-literature,modern,spirituality
0,2,9762.0,3.0,0.0,4.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
1,3,9014.0,5.0,1.0,1.0,1.00,1.00,1.0,1.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
2,4,3273.0,4.0,2.0,2.0,2.00,2.00,2.0,0.00,2.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
3,7,3489.0,3.5,4.0,4.0,2.75,2.75,2.0,1.25,0.0,...,0.0,0.0,1.25,0.0,0.0,1.25,0.0,0.0,2.0,0.0
4,9,8676.0,5.0,0.0,0.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28901,53419,7911.0,5.0,4.0,0.0,0.00,0.00,0.0,0.00,0.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,4.0,0.0,0.0
28902,53420,5581.5,3.0,3.5,3.5,1.50,2.00,3.5,0.00,0.0,...,1.5,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28903,53422,7667.0,4.0,4.0,4.0,4.00,4.00,4.0,4.00,4.0,...,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28904,53423,4984.0,5.0,5.0,5.0,5.00,5.00,5.0,0.00,0.0,...,5.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.0
28905,53424,4214.0,3.0,5.0,5.0,5.00,5.00,5.0,5.00,0.0,...,0.0,0.0,5.00,0.0,0.0,5.00,0.0,0.0,0.0,5.0

In [112]:
user_df.columns

Index(['user_id', 'book_id', 'rating', 'fiction', 'adult', 'novels',
       'contemporary', 'adult-fiction', 'fantasy', 'romance',
       ...
       'american-lit', 'realistic', '1001-books', 'chic-lit',
       'classroom-library', '1001', 'mystery-suspense-thriller',
       'childrens-literature', 'modern', 'spirituality'],
      dtype='object', length=213)

In [113]:
import pandas as pd

# Assuming user_df is your DataFrame with the column names as an Index object
column_names = user_df.columns.tolist()  # Convert the Index object to a list

# Create a DataFrame with a single column containing the column names
df = pd.DataFrame(column_names, columns=['column_name'])

# Reset the index to create a new index column
df.reset_index(inplace=True, drop=True)

# Now df contains a single column with the column names

In [121]:
import zipfile

# Save DataFrame to Excel file
item_df.to_excel("item_df.xlsx", index=False)

# Close any ZipFile objects if they were automatically opened
zipfile.ZipFile.close()

# Make sure to handle any exceptions properly

TypeError: close() missing 1 required positional argument: 'self'

In [119]:
user_df.to_excel("user_df.xlsx", index=False)

In [67]:
# Step 1: Reset the index to make 'book_id' a column
filtered_book_genre_tag = filtered_book_genre_tag.reset_index()

# Step 2: Move 'book_id' to the first column (optional if you want 'book_id' at the start)
# We can achieve this by reordering the columns
cols = ['book_id'] + [col for col in filtered_book_genre_tag.columns if col != 'book_id']
filtered_book_genre_tag = filtered_book_genre_tag[cols]

# Step 3: Display the DataFrame to verify
print(filtered_book_genre_tag.head())

   book_id  4-stars  5-stars  abandoned  action  action-adventure  adult  \
0        1        0        1          0       0                 0      0
1        2        0        0          0       1                 0      0
2        3        0        1          0       0                 0      0
3        5        0        1          0       0                 0      0
4        6        0        1          0       0                 0      0

   adult-fiction  adventure  all-time-favorites  ...  want-to-read  war  \
0              0          1                   1  ...             0    0
1              0          0                   1  ...             0    0
2              0          1                   1  ...             0    0
3              0          1                   1  ...             0    0
4              0          1                   1  ...             0    0

   wish-list  women  ya  ya-books  ya-fantasy  ya-fiction  young-adult  \
0          0      0   1         0           1           1            1
1          0      0   1         1           1           1            1
2          0      0   1         0           1           1            1
3          0      0   1         0           1           1            1
4          0      0   1         0           1           1            1

   young-adult-fiction
0                    1
1                    1
2                    1
3                    1
4                    1

[5 rows x 182 columns]

In [68]:
fl=filtered_book_genre_tag

In [69]:
fl

,book_id,4-stars,5-stars,abandoned,action,action-adventure,adult,adult-fiction,adventure,all-time-favorites,...,want-to-read,war,wish-list,women,ya,ya-books,ya-fantasy,ya-fiction,young-adult,young-adult-fiction
0,1,0,1,0,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,1,1
1,2,0,0,0,1,0,0,0,0,1,...,0,0,0,0,1,1,1,1,1,1
2,3,0,1,0,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,1,1
3,5,0,1,0,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,1,1
4,6,0,1,0,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,31538647,1,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,1,0
9996,31845516,0,0,1,0,0,1,0,0,1,...,0,0,1,1,0,0,0,0,0,0
9997,32075671,0,1,0,0,0,0,0,0,1,...,0,0,1,0,1,1,0,1,1,1
9998,32848471,1,0,0,0,0,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0
9999,33288638,1,1,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [70]:
import zipfile

# Save DataFrame to Excel file
fl.to_excel("new_item.xlsx", index=False)

# Close any ZipFile objects if they were automatically opened
zipfile.ZipFile.close()

TypeError: close() missing 1 required positional argument: 'self'

In [127]:
# Save DataFrame to Excel file
fl.to_excel("new_item.xlsx", index=False)

# No need to call zipfile.ZipFile.close() here